
<div class="container">

    <div class="span10 offset1">
        <div class="row">
            <h3>Create a Customer</h3>
        </div>

        <form class="form-horizontal" >
            
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input name="name" type="text"  placeholder="Name" ng-model="customer.name">
                </div>
            </div>
            <div class="control-group ">
                <label class="control-label">Email Address</label>
                <div class="controls">
                    <input name="email" type="text" placeholder="Email Address" ng-model="customer.email" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Mobile Number</label>
                <div class="controls">
                    <input name="phone" type="text"  placeholder="Mobile Number" ng-model="customer.phone"
                </div>
            </div>
            <div class="form-actions">
                <button ng-click="createNewCustomer()" class="btn btn-success">Create</button>
                <a class="btn" href="#">Back</a>
            </div>
        </form>
    </div>

</div> <!-- /container -->


